body {
  padding: 100px;
  background-color: limegreen;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.todoListMain .header input {
  margin-left: 450px;
  padding: 10px;
  font-size: 16px;
  width: 165px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color:limegreen;
  color: #FFF;  
  border: 2px solid #0066FF;
}


.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

ul.theList {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
  margin-left: 450px;
}


.theList li {
  color: black;
  background-color: cyan;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color .2s ease-out;
}

.todoListMain .theList li:hover {
  background-color:lawngreen;
  cursor: pointer;
}
